/*
.btn {
    color: blue;
}
*/


body{
    font-family: Roboto;
}
.principal{
    display:flex;
    max-width: 414px;
    min-width: 320px;
    margin: auto;
    flex-wrap: wrap;
    
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.33);
}
.contenedor-imagen{
    width: 100%
}


.imagen{
    width:100%;
    height: 100%;
    
}
.texto{
    margin: 10px;
}
.destacado{
    position: absolute;
    background-color: blueviolet;
    color:white;
    margin-top: 5px;
    padding-left: 33px;
    padding-right: 5px;
    border-radius: 2px;
    z-index: 2;

    
}
.contactar{
    display:flex;
    align-items: center;
    
}
.depto>li {
    display: inline-block;

}
ul{
    margin: 10px;
}

.boton{
    margin-left: auto;

}



h3{
    color:#007bff;
}
h6{
   color:#a7a7a7;
}



@media  (min-width: 0px) and (max-width:733px){
    .especificaciones{
        margin:-40px;
        position: absolute;
        top: 450px;
        color: white;

}

    .medidas{
        display: none
}

    .precio{
    
        position: absolute;
        top: 385px;
        color: white;
        font-weight: bold;
        

}
}

@media  (min-width: 0px){
.jumbotron {
    padding: 4rem 2rem;

}

}

@media  (min-width:734px) {
    .principal{
        max-width: 875px;
        min-width: 734px;
    }

    .contenedor-imagen{
        width: 50%;
    }
    .contenedor-derecho{
        width: 50%;
    }
    .texto{
        margin: 10px;
    }

    .contactar{
        display:flex;
        align-items: center;
        background-color:#efefef;
    }
    .depto>li {
        display: inline-block;
    
    }
    ul{
        margin: 10px;
    }
    
    .especificaciones{
        margin:-40px;
        color:black;
    
    }

    
    
    .dimensiones{
        display: flex;
        align-items: center;
    }
    .medidas{
        margin-left: 10px;
        font-style: italic;
        color: #0069d9;
        font-weight: bold;
    }
}



/* .colorcito{
    color:red;
} */



/*  
#mega{
    position: absolute;
    top: 225px; 
    
    z-index: 3;
}
#nose{
    cursor:pointer;
} */



#foo {
    display:block;
    color:red;
    position: absolute;
    
    padding-top: 8px;

    z-index: 7;
    padding-left: 6px;
    cursor: pointer;
    
}
#bar {
    display:none;
    
    

    color:red;

    
    z-index: 6;
    position: absolute;
    
    
    
    padding-top: 4px;
    padding-left: 5px;
}






